@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-music:before { content: '\e800'; } /* '' */
.icon-chat-alt:before { content: '\e801'; } /* '' */
.icon-mic-2:before { content: '\f048'; } /* '' */
.icon-mic-off:before { content: '\f047'; } /* '' */
.icon-headphones-1:before { content: '\e80b'; } /* '' */
.icon-plus:before { content: '\e808'; } /* '' */
.icon-photo:before { content: '\e815'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-cancel-2:before { content: '\e80e'; } /* '' */
.icon-users:before { content: '\e802'; } /* '' */
.icon-cog:before { content: '\e817'; } /* '' */
